<li [ngClass]="{'list-group-item-success': post.loveits>0, 'list-group-item-danger': post.loveits<0}" style="padding: 5px;">

  <div>
  <div style="display: flex ;flex-direction: row;justify-content: space-between"><h2> {{post.title}}</h2> <p class="date">{{post.created_at | date: 'dd/MM/yyyy , HH:mm '}}</p></div>
  <p> {{post.content}}</p>
  </div>
  <div>
    <button class="btn btn-success" style="margin: 5px;" (click)="PlusLoveits()"> I Love it </button>
    <button class="btn btn-danger" style="margin: 5px;" (click)="MoinsLoveits()"> I Don't love it </button>
  </div>


</li>
